@import url('https://fonts.googleapis.com/css?family=Pacifico%7CPoppins');

body {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: poppins;
    background-color: rgb(120, 48, 161);
}

h1{
    width: 100%;
    margin: 0px auto;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 30px 0px 30px 0px;
    color:rgb(120, 48, 161);
    text-transform:capitalize;
    border-bottom:1.5px solid orangered;
    letter-spacing: 0.1em;
}

section{
	width:80%;
    margin:0px auto;
	}

.form-div{
    width:40%;
	margin:60px auto;
    border-radius: 10px;
    background: linear-gradient(#ffffff, #ffffff);  
}

.login_form_title{
    font-family: poppins;
    padding-top: 10px;
    margin-bottom: 35px;
    font-size: 25px;
    color: orange;
    line-height: 1.2;
    text-align: center;
    display: block;
    letter-spacing: -0.3px;
}

#login-form{
    width: 80%;
    margin:0px auto;
    }

.form-row, .custom-select{
	font-size:1.3em;
    padding: 1em;
    letter-spacing: 0.1em;
}
input[type=text], input[type=email], input[type=password], .form-row, button, .form-row-forgot-password, .form-row-button, .custom-select select{
    color: #000000;
    font-family: poppins;
    padding-left: 2px;
}
.form-row-button{
    width: 100%;
    margin: 0px auto;
    border-radius: 9px;
    padding-top: 3em;
    text-align: center;
}
input[type=text], input[type=email], input[type=password]{
    width: 100%;
    border-radius: 9px;
    padding-left: 23px;
    border: 1px solid orange;
    margin-bottom: 25px;
    height:37px;
}
button{
	border:none;
    background-color: orange;
    font-size: 1.2em;
    width: 50%;
    color: #000000;
    border-radius: 20px;
    font-family: poppins;
    padding: 13px;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom:150px;
}
button:hover{
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #000000;
    cursor: pointer;
    transition-duration: 1s;
}
button:disabled{
    background-color: blue;
}
.lds-dual-ring {
    position: absolute;
    top:160px;
    left: 700px;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 35px;
    height: 35px;
    margin-top: 1px;
    border-radius: 50%;
    border: 5px solid green;
    border-color: green transparent green transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    h1{
        font-size:2em;
    }
    p{
        font-size:4em;
    }
  body {
    color: white;
  }
  section{
      width:100%;
  }
}
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    color: white;
  }
  h1{
    margin: 0px auto;
    font-size:2em;
  }
  section{
      width:100%;
      margin:0px auto;
  }
  .form-div{
    width:100%;
    margin:0px auto;
}
.login_form_title{
  font-size: 1.5em;
}
#login-form{
  width: 100%;
  margin:0px auto;
  }
.form-row, .custom-select{
  font-size:1.2em;
  padding: 15px;
}
input[type=text], input[type=email], input[type=password]{
  height:35px;
  border:1px solid orangered;
}
button{
  width: 30%;
  font-size: 1.5em;
  padding: 6px;
  border-radius: 7px;
  font-weight: 400;
}
.form-row-button{
    width: 100%;
    margin: 0px auto;
    border-radius: 9px;
    padding-top: 3em;
    text-align: center;
}
}
@media screen and (max-width: 250px){
    h1{
        margin: 0px auto;
        font-size:1.2em;
      }
      .form-div{
        width:100%;
        margin:0px auto;
    }
}
