
label{
color: black;
}
.landing-page{
    background-color: #ffffff;
}
 .headingTwo{
    border-top: 2px solid orangered;
    color: black;   
}

.navlink{
    float: right;
    color: orange;
}

time{
    float: right;
    text-align: right;
    margin-right: 5px;
}
#general_form{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#general_add{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: orangered;
}
.form-row2{
    padding: 0.5em;
    letter-spacing: 0.1em;
}
.form-row2-button{
    width: 20%;
    margin: 0px auto;
    text-align: center;
}
#button2{
    width: 100%;
    border-radius: 20px;
    background-color: orangered;
    box-shadow: none;
}
#button2:hover{
    color: #ffffff;
    border: 1px solid transparent;
    background-color: #000000;
    cursor: pointer;
    transition-duration: 1s;
}
#role{
    font-size: 17px;
    font-family: poppins;
}
input:focus,
button:focus{
    outline: none;
}
input[type=text],input[type=number], input[type=file], input[type=email], select{
    color: #000000;
    font-family: poppins;
}

input[type=text], input[type=password], input[type=number], input[type=email], select{
    width: 100%;
    padding: 5px;
    margin-top: 0.2cm;
    border: 1px solid orange;
}
.success-respose{
    position: absolute;
    top: 50px;
    left:200px;
    color: darkgreen;
    text-align: center;
} 
article{
    width: 85%;
    margin: 0px auto;
}

#button2:disabled{
    background-color: blue;
}
.pLoader{
    height: 5px;
    width: 20%;
    float: right;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .success-respose{
        position: absolute;
        top: 60px;
        left:0px;
        width: 100%;
       font-size: 1.3em;
    } 
    .navlink{
        padding-right: 10px;
     }
}
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    .navlink{
       padding-right: 10px;
    }
    h2{
        font-size: 1.5em;
    }
    .form-row2-button{
        margin-top:40px;
        width: 50%;
        font-size: 12px;
        text-align: center;
        border-radius: 6px;
    }
    #button2{
        border-radius: 10px;
    }

    .success-respose{
        position: absolute;
        top: 90px;
        left:0px;
        width: 100%;
       font-size: 1em;
    } 
}
@media screen and (max-width: 250px){

}





